<div id="add_details">
	<%= form_for @product, :html => { :onsubmit =>
	"showSpinner($('#add_details'))" }, remote: true do |f| %>
	
	    <%= f.text_field :name, :placeholder => "Product Name" %>

	    <%= f.text_area :description, placeholder: "Description" %>
			
			<div class='price-qty'>
				<div class="qty-field">
					<%= f.number_field :qty, placeholder: "QTY" %>
				</div>
					<div class='input-prepend price'>
				    <span class="add-on">$</span><%= f.number_field :price, placeholder: "Price", class: "price" %>
					</div>
				</div>
		<p><%= f.submit 'Add Product', :class => 'btn btn-block'%></p>

	<% end %>
</div>