<div id="add_details">
	<%= form_for @product, :html => { :onsubmit =>
	'showSpinner()' }, remote: true do |f| %>
	
	  <p>
	    <%= f.text_field :name, :placeholder => "Product Name" %>
	  </p>
		<p>
	    <%= f.text_area :description, placeholder: "Description" %>
		</p>
		<p>
	    <%= f.text_field :price, placeholder: "Price" %>
		</p>

		<p><%= f.submit 'Add Product', :class => 'button'%></p>

	<% end %>
</div>