	<div class="product-box" id="<%= "product_box_#{product.id}" %>">
	<% if @user_is_admin == true %>
		<%= link_to product, method: :delete, remote: true, onClick: "hideProduct('product_box_#{product.id}')" do %>
			<%= image_tag("close.png", class: "delete_product") %>
		<% end %>
	<% end %>
		<%= image_tag product.image_url(:thumb).to_s %>

		
		<hr>
			<h3 class='ribbon'>$<%= product.price/100 if product.price %></h3>
		
		<h2><%= product.name %></h2>

		<p><%= product.description %></p>

		<% if product.qty? %>
			<p class='stock-left'><%= product.qty %> in stock</p>
		<% elsif product.qty.to_i < 1 %>	
			<p class='stock-left sold'>SOLD</p>
		<% end %>
		
		<% if product.short_url? && product.qty.to_i > 0 %>
			<a href="<%= product.short_url %>" class="gumroad-button">Buy me</a>
		
		<% end %>
		

			
	</div>
