<div class="product-box" id="<%= "product_box_#{product.id}" %>">
	<div class="product-details">
		<div class='close-button' style="<% unless cookies[:token].present? %>display: none;<% end %>">

		</div>
	
		<%= image_tag product.image_url(:thumb).to_s %>
		
		<hr>
			<h3 class='ribbon'>$<%= product.price/100 if product.price %></h3>
	
		<h2><%= product.name %></h2>

		<p><%= product.description %></p>

		<p>
			<% if product.qty? %>
				<span class='stock-left'><%= product.qty %> in stock</span>
			<% elsif product.qty.to_i < 1 %>	
				<span class='stock-left sold'>SOLD</span>
			<% end %>
	
			<% if product.short_url? && product.qty.to_i > 0 %>
				<a href="<%= product.short_url %>" class="gumroad-button">Buy me</a>
			<% end %>
		</p>
	
	</div>
	<%= render 'product_buttons', {:logged_in => logged_in, :product => product} %>

	
</div>


