

<!-- <h1>Product Listing</h1> -->


<div class="products">


<% if @user_is_admin = true %>
	<div class="product-box" id="new_product_box">
		<%= render 'form' %>
	</div>
<% end %>
	<div id="first_product"></div>
	
	<% @products.each do |product| %>
 		<%= render 'product', {:product => product, :user_is_admin => @user_is_admin} %>
	<% end %>	
</div>

<script>
$(document).ready(function() {
	$('#new_product').bind('fileuploadsubmit', function (e, data) {
		console.log("<%= escape_javascript(image_tag 'ajax-loader.gif') %>")
		$('.file-drop-zone').html("<%= escape_javascript(image_tag 'ajax-loader.gif', class: 'spinner' ) %>")
		$('.file-drop-zone').attr('class', 'product-loading')
	})
	
	reloadMasonry()	
	
	$('#reveal-login').click(function() {
	  $("#login-form").show("slide", { direction: "right" }, 400);
		$(this).hide();
	});
});

function showSpinner() {
	console.log('showing spinner')
	$('#add_details').html("<%= escape_javascript(image_tag 'ajax-loader.gif', class: 'spinner' ) %>")
}

function hideProduct(product) {
	$('#'+product).hide();
	reloadMasonry()
}

function reloadMasonry() {
	var $container = $('.products');
	$container.imagesLoaded(function(){
		$container.masonry({
	    // options
	    columnWidth : 250,
			isAnimated: true
		});
	});
}
</script>