<% if @user_is_admin == true %>
	<div id="login-box">
		
		<div id="login-form">
		<%= form_tag login_path, remote: true, id: 'login' do %>
			<p>login with your gumroad account</p>
			<%= text_field_tag :email, nil, placeholder: "email", :class => :email %>
			<%= password_field_tag :password, nil, placeholder: "password", :class => :password %>
			<%= submit_tag "login", class: "btn" %>
		<% end %>
		</div>

		<div id="login_spinner"></div>

		<% if cookies[:token] == nil  %>
			<%= link_to "Manage Products", "#", id: "reveal-login", class: "btn" %>
			<%= link_to 'Logout', logout_path, id: 'logout', class: 'btn', remote: true, style: "display:none" %>
		<% else %>
			<%= link_to "Manage Products", "#", id: "reveal-login", class: "btn", style: "display:none" %>
			<%= link_to 'Logout', logout_path, id: 'logout', class: 'btn', remote: true %>
		<% end %>
		
	</div>
<% end %>

<div class="products">
		
		<% if @products.count == 0 && cookies[:token] == nil && @user_is_admin == true %>
			<div class = "step3-help">
				<h1>Boom!</h1>
				<h2>This is your brand spanking new store</h2>
			
				<p>All you need now are products. Click "Manage Products" up the top right and log in with your Gumroad account to start adding items.</p>
			</div>
		<% end %>
		
		
		
		<% if cookies[:token] != nil %>
			<%= render 'form' %>
		<% end %>

	<div id="first_product"></div>
	
	<% @products.each do |product| %>
 		<%= render 'product', {:product => product, :user_is_admin => @user_is_admin} %>
	<% end %>	
</div>

<script>
$(document).ready(function() {
	$('#new_product').bind('fileuploadsubmit', function (e, data) {
		showSpinner($('.file-drop-zone'))
		$('.file-drop-zone').attr('class', 'product-loading')
	})
	
	reloadMasonry()	
	
	$('#login').submit(function(){
		// $("#login-form").hide("slide", { direction: "right" }, 400);
		$("#login-form").hide();
		$("#login_spinner").show();
		showSpinner($('#login_spinner'));
	});
	
	$('#logout').click(function(){
		// $("#login-form").hide("slide", { direction: "right" }, 400);
		$("#logout").hide();
		$("#login_spinner").show();
		showSpinner($('#login_spinner'));
	});
	
	$('#reveal-login').click(function() {
	  $("#login-form").show("slide", { direction: "right" }, 400);
		$(this).hide();
	});
});

function showSpinner(element) {
	console.log(element)
	console.log('showing spinner')
	$(element).html("<%= escape_javascript(image_tag 'ajax-loader.gif', class: 'spinner' ) %>")
}

function hideProduct(product) {
	$('#'+product).remove();
	reloadMasonry()
}

function reloadMasonry() {
	var $container = $('.products');
	$container.imagesLoaded(function(){
		$container.masonry({
	    // options
	    columnWidth : 250,
			isAnimated: true
		});
	});
}
</script>